/* Carroussel image */

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");


.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 30vw;
  height: 30vh;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  border-radius: 15px;
}

.container2 {
  width: 50vw;
  /* max-width: 800px;
  max-height: 600px; */
  height: 50vh;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 40vw;
  height: 20vh;
  /* margin-bottom: 20px; */
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1; 
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

/*-------------- Barre de liens ouvrable -----------------*/


#navLien {
    display: flex;
    justify-content: center;
    margin: 16vh auto 0;
    width: fit-content;
    position: sticky;
}

.barre_liens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barre_liens img {
    margin: 0 15px;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    opacity: 0.7;
}

.barre_liens img:hover {
    opacity: 1;
    scale: 1.2;
}

.reseauSociaux {
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    width: 4vw;
    height: 6vh;
}

.reseauSociaux.discord {
    opacity: 1;
    display: flex;
    width: 5vw;

}

/* Effets de translation */

.barre_liens:hover #instagram {
    transform: translateX(-5em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.barre_liens:hover #twitch {
    transform: translateX(-9em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.barre_liens:hover #youtube {
    transform: translateX(-13em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.barre_liens:hover #facebook {
    transform: translateX(5em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.barre_liens:hover #twitter {
    transform: translateX(9em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.barre_liens:hover #tiktok {
    transform: translateX(13em);
    transition: ease-in-out .9s;
    opacity: 1;
}

/*-------------- Fin de barre de liens ouvrable -----------------*/